
<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b class="text-success">Shopping Cart</b></h4></div>
                </div>
            </div>
            @if (productCart.totalCartPrice == 0) {
                <div class="d-flex justify-content-center align-items-center">
                    <h1 class="fw-bold text-success">Your Cart Is Empty!</h1>
                </div>

            }  
            @else {
                <div class="row border-top border-bottom">

                    @for (x of productCart.products; track $index) {
    
                       
                        <div class="row main align-items-center">
                            <div class="col-2 cursor-pointer" [routerLink]="['/details' , x.product.id]" ><img class="img-fluid" [src]="x.product.imageCover" title="Image Product"></div>
                            <div class="col cursor-pointer" [routerLink]="['/details' , x.product.id]" >
                                <div class="row text-success fw-bold">{{x.product.title}}</div>
                                <div class="row text-success fw-bold">{{x.product.brand.name}}</div>
                            </div>
                            <div class="col d-flex align-items-baseline">
                                <a class="fw-bold text-success fs-4 cursor-pointer" (click)="UpdateProductCount(x.product.id , x.count - 1)">-</a>
                                <a  class="border fw-bold">{{x.count}}</a>
                                <a class="fw-bold text-success fs-4 cursor-pointer" (click)="UpdateProductCount(x.product.id , x.count + 1)">+</a>
                            </div>
                            <div class="col fw-bold text-success">{{x.price}} EGP </div>
                            <div (click)="DeleteOneProduct(x.product.id)" class="col cursor-pointer"><i class="fa-solid fa-trash-can fa-xl text-success" ></i></div>
        
                        </div>
    
                        @if (x.count >= 1) {
                            <a (click)="ClearAllProduct()" class="text-decoration-none fw-bold cursor-pointer  text-success w-100 mx-auto">Clear Cart</a>
    
                        }
    
                    }
    
                </div>
            }  
           
        
            <div class="back-to-shop cursor-pointer "><a routerLink="/home">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b class="text-success">Summary</b></h5></div>
            <hr>
           
            <form>
                <p class="text-success">SHIPPING</p>
                <select><option class="text-muted">FREE SHIPPING</option></select>
                <p class="text-success">GIVE CODE</p>
                <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right text-success fw-bold">{{productCart.totalCartPrice}} EGP</div>
            </div>
            <button routerLink="/checkout" [disabled]="productCart.totalCartPrice == 0" class="btn-main w-100 mx-auto">CHECKOUT</button>
        </div>
    </div>
    
</div>
