@if(SpinnerLoading){
    <div class="spinner">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-light" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Loading...</span>
          </div>
    </div>
}


<section class="py-2 my-2 rounded-4 w-75 mx-auto">

    <div class="container">
        @if(errormsg)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error!</strong> {{errormsg}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        }
        <h1 class="h3 text-success fw-bold mb-4 h1Marg">Login</h1>
        <form [formGroup]="LoginForm" (ngSubmit)="loginsubmint()">
            <div class="my-4">
                <input [ngClass]="{
                    'is-valid' :!LoginForm.get('email')?.errors && LoginForm.get('email')?.touched,
                    'is-invalid' :LoginForm.get('email')?.errors && LoginForm.get('email')?.touched && LoginForm.get('email')?.dirty
                }" class="form-control w-75 mx-auto" type="email" placeholder="Email:" formControlName="email">
                <div class="my-2">
                    @if(LoginForm.get('email')?.errors && LoginForm.get('email')?.touched)
                    {
                    <div class="m-0 alert alert-danger fw-bold w-75 mx-auto text-dark">
                        @if(LoginForm.get('email')?.getError('required'))
                        {
                        <p>*Email Is Requierd</p>
                        }
                        @else if (LoginForm.get('email')?.getError('email')) {

                        <p>*Not Vaild Email!</p>
                        }




                    </div>
                    }

                </div>
            </div>


            <div class="my-2">
                <input [ngClass]="{
                'is-valid' : !LoginForm.get('password')?.errors && LoginForm.get('password')?.touched,
                'is-invalid' :LoginForm.get('password')?.errors && LoginForm.get('password')?.touched && LoginForm.get('password')?.dirty
            }" class="form-control w-75 mx-auto" type="password" placeholder="password:" formControlName="password">
                @if(LoginForm.get('password')?.errors && LoginForm.get('password')?.touched)
                {
                <div class="w-75 mx-auto alert alert-danger text-dark fw-bold m-0">
                    @if(LoginForm.get('password')?.getError('required'))
                    {
                    <p>*Password Is Requierd</p>

                    }




                </div>
                }





            </div>

            <div class="d-flex justify-content-start h1Marg">
              <a class="text-decoration-none text-success"routerLink="/forget">Forget Password</a>

            </div>

            <div class="d-flex justify-content-end marg">
                <button [disabled]="LoginForm.invalid" class="btn-main fw-bold">Login
                    @if(isloading){
                    <span><i class="fas fa-spin fa-spinner "></i></span>
                    }

                </button>

            </div>

        </form>



    </div>

</section>